## PROYECTO MÓDULO 3: Optimización de Talento

#### A partir de un CSV con datos de trabajadores debemos tratar los datos siguiendo los siguientes pasos:

1. Averiguar por qué se han marchado las empleadas de la empresa.
2. Si queremos más información o pistas podemos preguntarle a Rocío
3. FASES: 
    1. Hacer un EDA
    2. Transformar los datos (limpieza de nulos, normalización, etc.)
    3. Visualización de datos (hacer gráficas en Python). 
    4. BONUS: Diseño de base de datos e insertar los datos en SQL. 
    5. BONUS: Creación de ETL, hacer funciones para automatizar el proceso. 
    6. Hacer una presentación:
        - **Introducción, objetivos, pasos y organización**
        - Parte central: **análisis de los gráficas, tablas...**
        - **¿Qué info podemos obtener de estos? ¿Consejos para la empresa? ¿Mejoras? ¿Encontramos correlación entre variables?**
        - **Retos y soluciones**
        - **Conclusiones**
4. Aplicar metodología Agile y Srum. **Rocío** va a ser la clienta final: **Product Owner**

### PARTE 4: VISUALIZACIÓN

In [1]:
#Importar librería
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
#Configuración de la visualización del DataFrame
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [4]:
#Lectura del CSV y transformación a DataFrame (df)
df=pd.read_csv("HR_RAW_v2.csv", index_col =0)
df.sample(5)

,numero_empleado,desvinculado,genero,edad,año_nacimiento,estado_civil,nivel_estudios,campo_estudios,frecuencia_viaje,distancia_domicilio,teletrabajo,tipo_jornada,formaciones_ultimo_año,trabajos_anteriores,años_en_activo,antigüedad_empresa,años_ultimo_ascenso,años_mismo_responsable,departamento,categoria,puesto,horas_extras,evaluacion_desempeño,tarifa_hora,tarifa_diaria,tarifa_mensual,ingreso_mensual,%_incremento_salarial,acceso_acciones_empresa,nivel_compromiso,nivel_satisfaccion_global,nivel_satisfaccion_trabajo,nivel_ satisfaccion_relaciones,nivel_satisfaccion_conciliacion
42,981.0,No,male,53,1970,divorced,2,Medical,non travel,3.22,no,full time,3,6,22.0,17,15,2,sin asignar,4,manager,No,3.0,NaN,1376.0,13938,NaN,13,1,3,3,3,3,4.0
482,2035.0,No,female,34,1989,married,3,Marketing,non travel,45.06,no,full time,2,1,8.0,8,1,7,sales,2,sales executive,No,4.0,95.0,704.0,8978,6712.0,21,2,2,4,3,4,3.0
1012,NaN,No,female,50,1973,ns/nc,3,ns/nc,travel frequently,3.22,yes,part time,3,2,NaN,2,2,2,sin asignar,4,manager,No,4.0,30.0,1421.0,9490,NaN,22,1,3,4,1,3,NaN
706,667.0,Yes,male,27,1996,divorced,1,Marketing,travel rarely,3.22,yes,full time,3,0,5.0,4,0,2,sin asignar,1,sales representative,No,3.0,85.0,1420.0,16346,NaN,11,1,3,3,1,2,3.0
980,1010.0,Yes,male,35,1988,divorced,4,Other,travel rarely,22.53,no,part time,2,1,5.0,4,0,2,research & development,1,laboratory technician,Yes,4.0,39.0,622.0,10074,NaN,24,1,2,3,2,4,1.0